<app-menu></app-menu>
<div class="container">
    <div class="row text-center mt-5">
      <div class="col">
        <h2>Departments</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-1">
        <label for="txtId" class="from-label">ID</label>
        <input type="text" name="id" id="txtId" class="form-control" [(ngModel)]="department.id" disabled="true">
      </div>
      <div class="col-md-4">
        <label for="txtName" class="from-label">Name</label>
        <input type="text" name="id" id="txtName" class="form-control" [(ngModel)]="department.name">
      </div>
      <div class="col-md-2">
        <label for="txtPhone" class="from-label">Phone</label>
        <input type="tel" placeholder="+593 9XX XXX XXXX" name="id" id="txtPhone" class="form-control" [(ngModel)]="department.phone">
      </div>
      <div class="col-md-4">
        <label for="txtDescription" class="from-label">Description</label>
        <input type="text" name="id" id="txtDescription" class="form-control" [(ngModel)]="department.description">
      </div>
      <div class="form-check col-md-1"><br>
        <input class="form-check-input" type="checkbox" name="myCheckbox" [(ngModel)]="department.status" id="myCheckbox">
        <label class="form-check-label" for="myCheckbox">
          Status
        </label>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <button class="btn btn-success" type="button" (click)="onAddDepartment(department)">Add</button>
        <button class="btn btn-warning m-2" type="button" (click)="onUpdateDepartment(department)">Edit</button>
        <button class="btn btn-primary m-2" type="button" (click)="clear()">Clean</button>
      </div>
      
    </div>
    <a class="btn btn-info" style="float: right;" routerLink="/enterprise">Return to Enterprises</a>
    <div class="row mt-5">
      <div class="col">
        <table id="dtdepartment" class="table table-striped" style="width: 100%;">
          <thead>
            <tr>
              <th>Select</th>
              <th>Id</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Description</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of datatable">
              <td><button type="button" class="btn" (click)="onSetData(item)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              </button></td>
              <td> {{ item.id }} </td>
              <td>{{ item.name }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.status? 'Active' : 'Deactive' }}</td>
              <td><button class="btn btn-primary" (click)="viewRecord(item.id)">View Record</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
